<h1 class="text-xl font-serif font-medium text-center">Edit listing</h1>

<%= render 'form', {listing: @listing, categories: @categories, conditions: @conditions} %>

<p class="text-center text-gray-500 text-xs">
    &copy;2020 Phil Antiporda
  </p>
</div>