


<div class="bg-secondary px-6 py-4 text-white w-full shadow-lg">
  <a href="#" class="block h-full w-full text-center">Back to Top</a>
</div>


<div class="hidden bg-primary px-6 py-4 text-white w-full shadow-lg md:block">
  <div class="w-full max-w-screen-xl mx-auto flex justify-around">
    <div class="text-sm mb-2">
      <p class="select-none border-b border-white">Help & Settings</p>
      <a href="#" class="nav_link hover:border-secondary">About Us</a>
      <a href="#" class="nav_link hover:border-secondary">Contact Us</a>
      <a href="#" class="nav_link hover:border-secondary">Customer Care</a>
      <a href="#" class="nav_link hover:border-secondary">Privacy Policy</a>
    </div>
    <div class="text-sm mb-2">
      <p class="select-none border-b border-white">Socials</p>
      <a href="#" class="nav_link hover:border-secondary">LinkedIn</a>
      <a href="#" class="nav_link hover:border-secondary">Github</a>
      <a href="#" class="nav_link hover:border-secondary">Twitter</a>
    </div>
  </div>
</div>